<!DOCTYPE html>
<html>
<head>
    <title>JSON/AJAX Movie Drill</title>
    <script type="text/javascript" src="/scripts.js"></script>
</head>
<body>
	<form action="/results">
	    <label>Enter part or all of a movie title:</label><br>
	    <input type="text" name="query">

	    <input type="submit">
	</form>
</body>
</html>